 $navbar-default-bg: #66c480;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size: 1.4em;
  color: whitesmoke;
  font-weight: bold;
}
#logo:hover{
   color: #222222;
   text-decoration: none;
}
.center {
  text-align: center;
}
.jumbotron{
  background-image: asset_url('image.png');
  background-size: cover;
  height: 350px;

}
.jumbotron h1{
  margin-bottom: 30px;
  font-weight: bold;
}
.btn-xlarge{
  font-size: 1.7em;
  background-color: transparent;
  color: #2E2F30;
  font-weight: inherit;
}
.footer{
  margin: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
.footer a:hover{
  color: #222;
}
footer small{
  float: left;
}
footer ul{
  float: right;
  list-style: none;
}
footer ul li{
  float: left;
  margin-left: 15px;
}
.pb30{
  padding-bottom: 30px
}
 .pb20{
   padding-bottom: 20px
 }
.ac{
  align: 'center'
}
.button{
  border-color: #222222;
}
.button:hover{
  background-color: #222222;
}
.article-actions{
  border-top: 1px solid #4ae072;
  padding-top: 10px;
}
.desc{
  margin-top: 2px;
}
.article-title{
  font-weight: bold;
  font-size: 1.5em;
}
.article-body{
  border-top: 1px solid #4ae072;
  padding-top: 15px;
  padding-bottom: 15px;
}
.clr{
  color: #2E2F30;
}
.themebtn{
  background-color: #4ae072;
  color: #2E2F30;
}
.article-meta-details{
  border-top: 1px solid #4ae072;
  margin-top: 15px;
  padding-top: 15px;
}